* {
  font-family: 'Nunito', sans-serif;
}

.head-modif {
  width: 1000px;
  margin: 0px auto;
}

.active {
  margin: 0 10px;
}

.layout {
  width: 1000px;
  margin: 0px auto;
  margin-top: 100px;
}

.layout-big{
  width: 1000px;
  margin: 0px auto;
  margin-top: 200px;
}

.layout-no-margin{
  width: 1000px;
  margin: 0px auto;
}

.margin-layout {
  margin-top: 50px;
}

.margin-layout-big{
  margin-top: 200px;
}

.margin-layout1 {
  margin-bottom: 30px;
}

header {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  background: #fff;
}

.intro {
  color: #7f7f7f;
  font-size: 18px;
  margin-top: 3rem;
}

.intro span {
  color: #2356d9;
}

.btn b {
  font-weight: bold;
  font-size: 10pt;
}

.sec1 {
  background: #fcf9f9;
}

.garis {
  background: #2356d9;
  width: 3px;
  height: 25px;
  margin-left: 12px;
  transform: skewX(-30deg);
}

.text-color-blue {
  color: #2356d9;
}

.border-set {
  margin: 0 10px;
  padding-top: 10px;
}

.border-set:hover {
  border-top: solid 2px rgb(194, 194, 194);
  border-radius: 10px;
}

.back img {
  margin-right: 120px
}

.back {
  transition: 0.3s;
  opacity: 1;
}

.border-set:hover .back {
  opacity: 0;
  transition: 0.5s;
}

.front {
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 30%;
  transition: 0.3s;
}

.border-set:hover .front {
  opacity: 1;
  transition: 0.5s;
}

.box {
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .200) !important;
  padding-top: 20px;
  border-radius: 15px;
  transition: 0.2s;
}

.box1 {
  z-index: 10;
  position: relative;
  margin-right: -100px;
}

.box2 {
  z-index: 20;
  position: relative;
  margin-top: 20px;
  margin-bottom: -20px;
}

.box3 {
  z-index: 15;
  position: relative;
  margin-left: -100px;
}

.box:hover{
  z-index: 25;
  transform: scale(1.060);
  transition: 0.3s;
}

.size{
  width: 700px;
  height: 474px;
  margin: 0 auto;
}

.end-line{
  border-top: 1px solid grey;
}