* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.head-modif {
  width: 1000px;
  margin: 0px auto;
}

.active {
  margin: 0 10px;
  color: #111;
}

.layout {
  width: 1000px;
  margin: 0px auto;
  margin-top: 100px;
}

.layout2 {
  width: 800px;
  margin: 0px auto;
  margin-top: 100px;
}

.layout-big {
  width: 1000px;
  margin: 0px auto;
  margin-top: 200px;
}

.layout-no-margin {
  width: 1000px;
  margin: 0px auto;
}

.margin-layout {
  margin-top: 50px;
}

.margin-layout-big {
  margin-top: 100px;
}

.margin-layout1 {
  margin-bottom: 30px;
}

header {
  background: transparent;
}

.intro {
  color: #7f7f7f;
  font-size: 18px;
  margin-top: 3rem;
}

.intro span {
  color: #2356d9;
}

.btn b {
  font-weight: bold;
  font-size: 10pt;
}

.sec1 {
  background: #f0f7ff;
  background-image: linear-gradient(to bottom right, hsl(212, 84%, 88%), #ffffff);
}

.garis {
  background: #2356d9;
  width: 3px;
  height: 25px;
  margin-left: 12px;
  transform: skewX(-30deg);
}

.text-color-blue {
  color: #2356d9;
}

.box {
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .200) !important;
  padding-top: 20px;
  border-radius: 8px;
  margin: 0 10px;
}

.size {
  width: 700px;
  height: 474px;
  margin: 0 auto;
}

.end-line {
  border-top: 1px solid #b1b1b1;
  padding-top: 50px;
  margin-top: 100px;
}

.teks-modif p a {
  text-decoration: none;
  color: rgb(139, 139, 139)
}

.teks-modif p a:hover {
  color: #2356d9;
}

.price-box {
  margin: 0;
}

.price {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.price-info {
  /* background: hsl(212, 100%, 87%); */
  background: #f0f7ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px 0;
}

.relative {
  position: relative;
}

.btn-modif {
  background-image: linear-gradient(to bottom, #2b5cff, rgb(101, 114, 233));
  width: fit-content;
  padding: 7px 13px;
  box-shadow: 1px 1px 10px #9b9b9b;
  /* Border With Radius */
  /* border-bottom-left-radius: 9.6px;  */
  border-bottom-left-radius: 15px;
  /* border-top-right-radius: 9.6px; */
  border-top-right-radius: 15px;
  /*  */
  font-size: 13px;
  color: white;
  /*  */
  cursor: pointer;
}

.btn-modif:hover {
  background: rgb(34, 72, 197);
}